:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ui-table-scrollable-header {
    overflow: hidden;
    .ui-table-scrollable-header-table {
        border-collapse: collapse;
        table-layout: fixed;
    }
}

.ui-table-scrollable-body {
    flex: auto;
    .ui-table-scrollable-body-table {
        border-collapse: collapse;
        table-layout: fixed;
    }
}







.sc-body-wrapper {
    flex: auto;
    border: 1px solid black;

    .sc-body {
        min-width: 100%;
        //width: 30000px;
    }
}

.sc-header-wrapper {
    .sc-header {
        min-width: 100%;
    }
}


.example-item {
    height: 34px;
    &.odd {
        background-color: #c9ffe5;
    }

    td{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
